@model EcommerceShop.Business.Definitions.Actor

@{
    ViewData["Title"] = "Update actor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label">Upload File</label>
                        <input type="file" name="file" class="form-control" id="ProfilePictureURLInput" />
                    </div>
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" src="~/images/@Model.ProfilePictureURL" style="max-width: 150px" id="profilePicturePerview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" readonly />
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var output = document.getElementById('profilePicturePerview');
            var originalSrc = output.src;

            $("#ProfilePictureURLInput").on("change", function () {
                var newImage = URL.createObjectURL(this.files[0]);
                updatePreview(output, newImage);
            });

            function updatePreview(output, source) {
                output.src = source;
            }

            function resetPreview() {
                updatePreview(output, originalSrc);
            }

            $("form").on("reset", function () {
                resetPreview();
            });
        });
    </script>
}
